html {
    margin:0;
    padding:0;
    }

body {
    background-color: aqua;
}

#wrapper {
    /* border: black solid 1px; */
    background-color:lightgrey;
}

#logo  {
    height: 10em;
}   

#head {
    height: 6em;
        border: black solid 1px;
}

.jumbotron{
    background-color: blueviolet;
    background-image: url(/pictures/diego.jpg);
    background-size: cover;
    /*background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");*/
}